<% provide(:title, "Edit RSVP") %>

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<h2 class="text-center">Edit RSVP</h2>
<%= form_for([@rsvp.dinner, @rsvp]) do |f| %>
  <%= render 'shared/rsvp_error_messages' %>
  <div class="form-inline text-center">
    <%= f.label :Name %>:
    <%= f.text_field :name, class: 'form-control', placeholder: 'your name?' %>

    <%= f.label :Dish %>:
    <%= f.text_field :dish, class: 'form-control', placeholder: 'your bringing?' %>
  </div><br />
  <div class="text-center">
    <%= link_to "cancel", dinner_path(@rsvp.dinner) %>
    <%= f.submit "Edit RSVP", class: 'btn btn-primary' %>
    <%= button_to "Delete RSVP", dinner_rsvp_path(@rsvp.dinner, @rsvp), method: :delete, class: 'btn btn-danger' %>
  </div>
<% end %>
