<% provide(:title, "Dinner") %>

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><%= @dinner.name %></h3>
  </div>
  <div class="panel-body">
    <p>Hosted by: <%= @dinner.email %></p>
    <p>When this is going down: <%= @dinner.date %> at <%= @dinner.time %></p>
    <p>Where: <%= @dinner.location %></p>
  </div>
</div>

<h2 class="text-center">Coming? Please RSVP</h2>
<%= form_for dinner_setup(@dinner) do |f| %>
  <%= f.fields_for :rsvps do |g| %>
    <%= render 'shared/error_messages' %>

    <div class="form-inline text-center">
      <%= g.label :Name %>:
      <%= g.text_field :name, class: 'form-control', placeholder: 'your name?' %>

      <%= g.label :Dish %>:
      <%= g.text_field :dish, class: 'form-control', placeholder: 'your bringing?' %>
    </div>
  <% end %>
  <%= f.submit "RSVP", class: 'btn btn-primary' %>
<% end %>
