<% provide(:title, "Dinner") %>

<h1><%= @dinner.name %> </h1>
<h2>Created by: <%= @dinner.email %></h2>

<p>When this is going down: <%= @dinner.date %> at <%= @dinner.time %></p>
<p>Where: <%= @dinner.location %></p>

<h2>Coming? Please RSVP</h2>
<%= form_for dinner_setup(@dinner) do |f| %>
    <%= f.fields_for :guests do |g| %>
      <%= g.label :Name %>:
      <%= g.text_field :name, id: "name" %><br />
    <% end %>

    <%= f.fields_for :courses do |g| %>
      <%= g.label :Dish %>:
      <%= g.text_field :name, id: "dish_name" %><br />
    <% end %>

  <%= f.submit "Edit Dinner" %>
<% end %>
