<% provide(:title, "Dinner") %>

<h1>Dinner page</h1>

<%= form_for dinner_setup(@dinner) do |f| %>
  <%= f.label :dinner %>:
  <%= f.text_field :name, id: "dinner", readonly: true %><br />

  <%= f.label :Date %>:
  <%= f.date_field :date, id: "date", readonly: true %><br />

  <%= f.label :Time %>:
  <%= f.time_field :time, id: "time", readonly: true %><br />

  <%= f.label :Location %>:
  <%= f.text_field :location, id: "location", readonly: true %><br />

    <%= f.fields_for :guests do |g| %>
      <%= g.label :Guest %>:
      <%= g.text_field :name, id: "name" %><br />
    <% end %>

  <%= f.submit "Edit Dinner" %>
<% end %>
