<% provide(:title, "Dinner") %>

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><%= @dinner.name %></h3>
  </div>
  <div class="panel-body">
    <p>Hosted by: <span class="pull-right"><%= @dinner.email %></span></p>
    <p>When this is going down:<span class="pull-right"><%= @dinner.date.strftime("%A, %b, %e") %> at <%= @dinner.time.strftime("%l:%M %P") %></span></p>
    <p>Where: <span class="pull-right"><%= @dinner.location %></span></p>
  </div>
  <div class="container">
    <table class="table table-striped">
      <tr>
        <th class="text-center"><u>Who's down?</u></th>
        <th class="text-center"><u>Bringing</u></th>
      </tr>
      <% @going.each do |i| %>
        <tr>
          <td class="text-center"><%= i.name %></td>
          <td class="text-center"><%= i.dish %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h2 class="text-center">Coming? Please RSVP</h2>
<%= form_for @rsvp, url: dinner_rsvps_path(@dinner) do |f| %>
  <%= render 'shared/rsvp_error_messages' %>
  <div class="form-inline text-center">
    <%= f.hidden_field :dinner_id, value: @dinner.id %>
    <%= f.label :Name %>:
    <%= f.text_field :name, class: 'form-control', placeholder: 'your name?' %>

    <%= f.label :Dish %>:
    <%= f.text_field :dish, class: 'form-control', placeholder: 'your bringing?' %>
  </div>
  <%= f.submit "RSVP", class: 'btn btn-primary' %>
<% end %>
